
* {
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --background-color: #ffffff;
    --accent-color-blue: #4f67b1;
    --accent-color-orange: #f87828;
    --text-color: #1c2f74;
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;
    --spacing-section: 80px;
    --padding-container: 20px;
    --padding-card: var(--spacing-large);
    --border-radius: 8px;
    --font-body: 800;
    --background-color-1: #fff2e6;
    --background-color-2: #ffe3c8;
}

body {
    font-family: 'Funnel Sans', sans-serif;
}


.container {
    width: 90%;
    max-width: 1250px;
    margin: auto;
    padding: 0 var(--padding-container);
}

section .container {
    padding: var(--spacing-section);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
}


h1 {
    color: white;
    font-family: 'Atkinson Hyperlegible Mono', sans-serif;

    font-size: 30px;
    padding-bottom: 20px;

}

h2{
     color: var(--accent-color-orange);
    font-family: 'Funnel Sans', sans-serif;
    font-size: medium;
     text-transform: uppercase;


}
h3, h4, h5, h6 {
    color: var(--accent-color-orange);
    font-family: 'Funnel Sans', sans-serif;
}

p {
    color: rgb(0, 0, 0);
    font-size: 20px;
      font-family: 'Funnel Sans', sans-serif;
}
