
.section-testimonials {
    background-color: var(--background-color-1);
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-large);
}

.testimonial-card {
    min-height: 200px;
    background-color: rgba(0,0,0,0.05);
    border-radius: var(--border-radius);
    padding: var(--padding-card);
}


@media (max-width: 768px) {
    .testimonials-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .testimonials-grid {
        grid-template-columns: 1fr;
    }
}
